# Data Exploration Lab
*Author: [Douglas Strodtman](http://linkedin.com/in/dstrodtman/)*

This lab is much less structured that the previous lab, but solution code has been provided.

Your objective will be to continue working with the data from the previous lesson to answer the following questions:

## Key Objectives

- Which department had the most line item entries each year?
- Which department had the highest total expenditures each year?
- Which fund had the highest budget allocation each year?
- What percentage of money from the general fund was allocated to different departments each year?
- Which departments saw the largest budget increase and decrease from 2017 to 2018?

To answer these questions, you'll demonstrate the following skills:

## Skills Covered
1. Module import
1. Data import
1. Masking
1. Sorting
1. Summary Statistics
1. `groupby` and Aggregation
1. Pivot Tables

## Module Import
Start off by importing pandas.

In [2]:
import pandas as pd

## Data Import
Load the data we cleaned in the last lesson.

In [3]:
df = pd.read_csv('../data/clean1718.csv')

Always check that your data loaded as expected.

In [4]:
df.head()

,budget_fiscal_year,department_name,fund_name,account_name,adopted_budget_amount,total_expenditures,budget_change_amount,budget_transfer_in_amount,budget_transfer_out_amount,total_budget,encumbrance_amount,pre_encumbrance_amount,budget_uncommitted_amount,account_group_name,fund,account,department
0,2018,AGING,GENERAL FUND (GENERAL BUDGET),CONTRACTUAL SERVICES,2222382.0,1608157.04,9000.0,0.0,453500.0,1777882.0,93331.0,0.0,76393.96,EXPENSES,100,003040,2
1,2018,AGING,TITLE VII OLDER AMERICANS ACT,OMBUDSMAN VII A PROGRAM,0.0,87876.00,87876.0,0.0,0.0,87876.0,0.0,0.0,0.00,UNSPECIFIED,564,02PB01,2
2,2018,AGING,SENIOR HUMAN SERVICES PROGRAM,EVIDENCE BASED PROGRAMS,0.0,292338.00,303447.0,0.0,0.0,303447.0,11109.0,0.0,0.00,UNSPECIFIED,42J,02R340,2
3,2018,AGING,AREA PLAN FOR THE AGING TIT 7,HOME DELIVERED MEALS FOR SENIORS,0.0,2419162.00,2543845.0,0.0,0.0,2543845.0,36122.0,0.0,88561.00,UNSPECIFIED,395,02PQ04,2
4,2018,AGING,GENERAL FUND (GENERAL BUDGET),OVERTIME GENERAL,3900.0,15943.36,0.0,13300.0,0.0,17200.0,0.0,0.0,1256.64,SALARIES AND BENEFITS,100,001090,2

Great! Everything is loaded successfully. Let's get right into our questions.

## Which department had the most line item entries each year?

Let's do a pivot table.

In [10]:
dept_by_year = df.pivot_table(values='fund_name', index='department_name', columns='budget_fiscal_year', aggfunc='count')

In [15]:
dept_by_year.sort_values(2017, ascending=False).head()

budget_fiscal_year                                   2017   2018
department_name
NON-DEPARTMENTAL - APPROPRIATIONS TO SPECIAL PU...  634.0  680.0
HOUSING AND COMMUNITY INVESTMENT DEPARTMENT         279.0  288.0
RECREATION AND PARKS                                269.0   92.0
TRANSPORTATION                                      225.0  267.0
CULTURAL AFFAIRS                                    200.0  229.0

In [16]:
dept_by_year.sort_values(2018, ascending=False).head()

budget_fiscal_year                                   2017   2018
department_name
NON-DEPARTMENTAL - APPROPRIATIONS TO SPECIAL PU...  634.0  680.0
HOUSING AND COMMUNITY INVESTMENT DEPARTMENT         279.0  288.0
TRANSPORTATION                                      225.0  267.0
CULTURAL AFFAIRS                                    200.0  229.0
ECONOMIC AND WORKFORCE DEVELOPMENT DEPARTMENT       148.0  215.0

We note that in both 2017 and 2018, the top entry is for `NON-DEPARTMENTAL - APPROPRIATIONS TO SPECIAL PURPOSE FUND`, and the top department is `HOUSING AND COMMUNITY INVESTMENT DEPARTMENT`. Even from just looking at the first few rows, we can see that the total number of line items from year-to-year vary greatly in some departments.

## Which department had the highest total expenditures each year?

Again, we can complete this easily with a pivot table. While we have some nulls in our feature of interest, Pandas defaults to ignoring `NaN`s when doing aggregate summing.

In [18]:
dept_exp_by_year = df.pivot_table(values='total_expenditures', index='department_name', columns='budget_fiscal_year', aggfunc='sum')

In [22]:
dept_exp_by_year.sort_values(2017, ascending=False).head(10)

budget_fiscal_year                                          2017          2018
department_name
WATER AND POWER                                     1.187958e+10  1.238769e+10
NON-DEPARTMENTAL - GENERAL                          3.301247e+09  3.205671e+09
AIRPORTS                                            2.279062e+09  2.557433e+09
NON-DEPARTMENTAL - APPROPRIATIONS TO SPECIAL PU...  2.204217e+09  2.138851e+09
CITY ADMINISTRATIVE OFFICER                         1.608958e+09  1.571461e+09
POLICE                                              1.537512e+09  1.629703e+09
NON-DEPARTMENTAL - HUMAN RESOURCES BENEFITS         1.004960e+09  1.071313e+09
CITY EMPLOYEES RETIREMENT SYSTEM                    9.445124e+08  1.004783e+09
FIRE                                                6.906339e+08  7.362886e+08
TRANSPORTATION                                      4.723171e+08  5.355599e+08

In [23]:
dept_exp_by_year.sort_values(2018, ascending=False).head(10)

budget_fiscal_year                                          2017          2018
department_name
WATER AND POWER                                     1.187958e+10  1.238769e+10
NON-DEPARTMENTAL - GENERAL                          3.301247e+09  3.205671e+09
AIRPORTS                                            2.279062e+09  2.557433e+09
NON-DEPARTMENTAL - APPROPRIATIONS TO SPECIAL PU...  2.204217e+09  2.138851e+09
POLICE                                              1.537512e+09  1.629703e+09
CITY ADMINISTRATIVE OFFICER                         1.608958e+09  1.571461e+09
NON-DEPARTMENTAL - HUMAN RESOURCES BENEFITS         1.004960e+09  1.071313e+09
CITY EMPLOYEES RETIREMENT SYSTEM                    9.445124e+08  1.004783e+09
FIRE                                                6.906339e+08  7.362886e+08
TRANSPORTATION                                      4.723171e+08  5.355599e+08

Here, if we look at the top 10 departments, we see that they are relatively steady year-to-year (with only the 5th and 6th ranked departments trading places), with `WATER AND POWER` leading the way.

## Which fund had the highest budget allocation each year?

While I could use another pivot table, here I'll mask by year and then use `groupby`.

In [24]:
mask_2017 = df['budget_fiscal_year']==2017
mask_2018 = df['budget_fiscal_year']==2018

In [29]:
df[mask_2017].groupby('fund_name')['total_budget'].sum().sort_values(ascending=False).head(10)

fund_name
GENERAL FUND (GENERAL BUDGET)     6.902082e+09
TX REV ANTICIP NOTE PROC          1.490473e+09
TX REV ANTICIP NOTE DEBT          1.485729e+09
CITY EMPLOYEES RETIREMENT         1.034919e+09
SEWER CONSTRUCTION&MAINTENANCE    6.872104e+08
FIRE & POLICE TIER 5 SERVICE P    3.806500e+08
FIRE & POLICE TIER 2 GENERAL P    3.760731e+08
SOLID WASTE RESOURCES FUND        3.664811e+08
IRS SEC501 EMPLOYEE BENEF TRUS    3.560470e+08
SEWER OPERATIONS & MAINTENANCE    3.540960e+08
Name: total_budget, dtype: float64

In [30]:
df[mask_2018].groupby('fund_name')['total_budget'].sum().sort_values(ascending=False).head(10)

fund_name
GENERAL FUND (GENERAL BUDGET)     7.140709e+09
TX REV ANTICIP NOTE PROC          1.508578e+09
TX REV ANTICIP NOTE DEBT          1.500000e+09
CITY EMPLOYEES RETIREMENT         1.105196e+09
SEWER CONSTRUCTION&MAINTENANCE    6.329558e+08
SOLID WASTE RESOURCES FUND        4.537950e+08
FIRE & POLICE TIER 5 SERVICE P    4.290220e+08
FIRE & POLICE TIER 2 GENERAL P    3.861732e+08
IRS SEC501 EMPLOYEE BENEF TRUS    3.797057e+08
SEWER OPERATIONS & MAINTENANCE    3.742596e+08
Name: total_budget, dtype: float64

Again, there is a large amount of consistency here year-to-year, with the general fund taking a huge chunk.

## What percentage of money from the general fund was allocated to different departments each year?

Here, we'll want to mask for the general fund before normalizing our `total_budget` for the year.

In [32]:
gen_fund_mask = df['fund_name'] == 'GENERAL FUND (GENERAL BUDGET)'

In [39]:
gen_fund_2017 = df[gen_fund_mask & mask_2017][['department_name', 'total_budget']]

In [42]:
gen_fund_2017_total = gen_fund_2017['total_budget'].sum()

In [45]:
((gen_fund_2017.groupby('department_name')['total_budget'].sum()/gen_fund_2017_total)
                 .sort_values(ascending=False)).head(10)

department_name
NON-DEPARTMENTAL - GENERAL                           0.227958
POLICE                                               0.221093
FIRE                                                 0.095700
NON-DEPARTMENTAL - HUMAN RESOURCES BENEFITS          0.094268
GENERAL SERVICES                                     0.043775
PUBLIC WORKS - SANITATION                            0.038209
NON-DEPARTMENTAL - CAPITAL FINANCE ADMINISTRATION    0.032077
NON-DEPARTMENTAL - LIABILITY CLAIMS                  0.029677
PUBLIC WORKS - STREET SERVICES                       0.027503
TRANSPORTATION                                       0.023595
Name: total_budget, dtype: float64

In [46]:
gen_fund_2018 = df[gen_fund_mask & mask_2018][['department_name', 'total_budget']] 
gen_fund_2018_total = gen_fund_2018['total_budget'].sum()

In [47]:
((gen_fund_2018.groupby('department_name')['total_budget'].sum()/gen_fund_2018_total)
                 .sort_values(ascending=False)).head(10)

department_name
POLICE                                               0.224793
NON-DEPARTMENTAL - GENERAL                           0.224550
FIRE                                                 0.098909
NON-DEPARTMENTAL - HUMAN RESOURCES BENEFITS          0.097140
GENERAL SERVICES                                     0.044819
PUBLIC WORKS - SANITATION                            0.038513
NON-DEPARTMENTAL - CAPITAL FINANCE ADMINISTRATION    0.031744
PUBLIC WORKS - STREET SERVICES                       0.025825
TRANSPORTATION                                       0.023215
CITY ATTORNEY                                        0.019623
Name: total_budget, dtype: float64

We can see that in both 2017 and 2018, the police took up around 22% of the general fund.

## Which departments saw the largest budget increase and decrease from 2017 to 2018?

Here, we'll again use masking and `groupby`.

In [52]:
dept_totals_2017 = df[mask_2017].groupby('department_name')['total_budget'].sum()

In [53]:
dept_totals_2018 = df[mask_2018].groupby('department_name')['total_budget'].sum()

In [54]:
(dept_totals_2018 - dept_totals_2017).sort_values(ascending=True).head()

department_name
NON-DEPARTMENTAL - LIABILITY CLAIMS   -85900050.31
CITY ADMINISTRATIVE OFFICER           -46486763.35
RECREATION AND PARKS                  -18131078.17
INFORMATION TECHNOLOGY AGENCY          -6217728.30
PUBLIC WORKS - STREET SERVICES         -5415732.15
Name: total_budget, dtype: float64

In [55]:
(dept_totals_2018 - dept_totals_2017).sort_values(ascending=False).head()

department_name
NON-DEPARTMENTAL - APPROPRIATIONS TO SPECIAL PURPOSE FUND    1.558385e+08
POLICE                                                       1.062615e+08
TRANSPORTATION                                               9.734953e+07
BUILDING AND SAFETY                                          8.756681e+07
CITY EMPLOYEES RETIREMENT SYSTEM                             7.032394e+07
Name: total_budget, dtype: float64

From these aggregates, it's difficult to tell if the reduction in budgets to some departments is due to increased efficiency or just defunding programs. Those departments that saw the biggest increases were all amongst departments with the biggest budgets. 

We can also calculate this as a percentage change to see how priorities may have shifted.

In [59]:
((dept_totals_2018 - dept_totals_2017)/dept_totals_2017).sort_values(ascending=True).head()

department_name
NON-DEPARTMENTAL - LIABILITY CLAIMS   -0.419373
NEIGHBORHOOD EMPOWERMENT              -0.356757
CITY ETHICS COMMISSION                -0.192257
CITY CLERK                            -0.113799
EMERGENCY MANAGEMENT                  -0.058675
Name: total_budget, dtype: float64

In [60]:
((dept_totals_2018 - dept_totals_2017)/dept_totals_2017).sort_values(ascending=False).head()

department_name
NON-DEPARTMENTAL - UNAPPROPRIATED BALANCE                 2.008087
NON-DEPARTMENTAL - CAPITAL IMPROVEMENT EXPENSE PROGRAM    1.634478
RECREATION AND PARKS - SPECIAL ACCOUNTS                   0.290752
CULTURAL AFFAIRS                                          0.276824
BUILDING AND SAFETY                                       0.236609
Name: total_budget, dtype: float64

Unsurprisingly, looking at the percent change reveals a different story of how priorities may have changed year-to-year.